  body { font-family: verdana, arial, sans-serif; font-size: 10pt;}
  div.header { width:750px; position: absolute; left: 15px; top: 5px; height: 75px; }
  div.menu { width:150px; position: absolute; left: 15px; top: 90px; height: 800px; }
  div.body { width:500px; position: absolute; left: 180px; top: 90px; height: 800px; }
  ul { margin: 0px; padding: 0px; padding-left: 20px; padding-bottom: 30px; }
  li { padding-top: 0.4em; }
  h2 { padding: 0px; margin: 0px; font-size: 1.25em; }
  h3 { padding: 0px; margin: 0px; margin-top: 1em; font-size: 1.1em; }
