<?xml version="1.0" encoding="UTF-8"?>
<h1>Transportation Favourites</h1><h2></h2><p>In rail transport, a train is a series of rail vehicles that move along guides to transport freight or passengers from one place to another.</p><h2></h2><p>A boat is a watercraft designed to float or plane on, and provide transport over, water. </p><h2></h2><p>A fixed-wing aircraft is a heavier-than-air craft where movement of the wings in relation to the aircraft is not used to generate lift. </p><h2></h2><p>A motorcycle or motorbike is a single-track, two-wheeled motor vehicle powered by an engine.</p>
