  body { font-family: verdana, arial, sans-serif; font-size: 10pt; color: #000000; margin-left: 2em; width: 600px;}
  div.header { width:750px; position: absolute; left: 15px; top: 5px; height: 75px; }
  div.menu { width:150px; position: absolute; left: 25px; top: 125px; height: 800px; }
  div.body { width:500px; position: absolute; left: 210px; top: 125px; height: 800px; }
  div.info { margin-bottom: 0.5em; margin-top: 0.5em; }
  div.alert { border: thin dashed #666666; padding: 0.25em; margin-bottom: 0.75em; background: #ffeeee; color: #cc3333;}
  div.alert h2 { color: #cc0000; }
  div.edit { border: thin solid #dddddd; padding: 0.4em; background: #eeeeee; }
  table.record { font-size: 0.9em; margin-top: 1em; margin-bottom: 1em;}
  td.XAppRowEven { background-color: #ccc; font-size: 0.85em;}
  td.XAppRowOdd { background-color: #fff; font-size: 0.85em;}
  span.required {color: #cc0000; }
  span.field-heading { background: #dddddd; color: #000000; padding-left: 0.5em; padding-right: 0.5em; }
  ul { margin: 0px; margin-top: 0.5em; padding: 0em; padding-left: 2em; padding-bottom: 1em; }
  li { padding-top: 0.4em; line-height: 1em; }
  h1.header { padding: 0px; padding-top: 0.5em; margin: 0px;}  
  h2 { padding: 0px; margin: 0px; font-size: 1.25em; }
  h3 { padding: 0px; margin: 0px; margin-top: 1em; font-size: 1.1em; }
  p.header { font-style: italic; }
  p.intro { font-style: italic; font-weight: normal; color: #000000; padding: 0.3em; border: thin solid #666600; background: #cccc00;}
  a.navigation { color: #003300; font-size: 0.85em; }
  img.screenshot { border: medium solid #009900; margin-left: 1em;}
  hr { margin-top: 2em; }
  dt { font-weight: bold; }
  code { color: #336600; }